body {
  width: 480px;
  margin: 0px auto;
  color: #757575;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0px 15px;
  margin: 0px auto;
}

@media screen and (min-width: 480px) {
  body {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  body {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    width: 1200px;
  }
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
}

.logo-footer, .logo-header {
  display: inline-block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-footer span, .logo-header span {
  color: #2196f3;
}

.logo-header {
  padding: 16px 0px;
  color: #000000;
}

.logo-footer {
  margin-bottom: 20px;
  color: #f5f5f5;
}

.header-nav__menu {
  padding: 10px 0px;
  width: 40px;
  height: 40px;
  border: transparent;
  background-color: transparent;
}
.header-nav__menu .header-nav__icon {
  width: 40px;
  height: 40px;
}

.footer-social-networks__link, .team-social-networks__link {
  display: block;
  text-align: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
}

.team-social-networks__link {
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-networks__link:hover, .team-social-networks__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.footer-social-networks__link {
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-networks__link:hover, .footer-social-networks__link:focus {
  background-color: #2196f3;
}

.footer-social-networks__icon, .team-social-networks__icon {
  content: "";
  width: 20px;
  height: 20px;
  background-position: center;
}

.team-social-networks__icon {
  fill: currentColor;
  background-size: contain;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-networks__icon:hover, .team-social-networks__icon:focus {
  fill: #ffffff;
}

.footer-social-networks__icon {
  fill: #ffffff;
}

.section-title {
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.contacts {
  display: none;
  gap: 50px;
}

.contacts__link {
  display: inline-flex;
  align-items: center;
  padding: 32px 0px;
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__icon.mail {
  width: 16px;
  height: 12px;
}

.contacts__icon.phone {
  width: 10px;
  height: 16px;
}

.header-nav__list,
.contacts {
  display: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav__link {
  display: block;
  position: relative;
  padding: 32px 0px;
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__link:hover, .header-nav__link:focus {
  color: #2196f3;
}

.current::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  bottom: -1.5%;
  left: 0;
  background-color: #2196f3;
}

.header-list .current {
  color: #2196f3;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  height: 400px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/hero_mobile.jpg), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-size: auto 400px;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__header {
  margin: 0px auto;
  padding: 118px 0px 30px 0px;
  max-width: 360px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.features {
  padding: 60px 0px;
}

.features-list {
  margin-bottom: 0px;
  gap: 30px;
}

.features-list__item {
  width: 450px;
}
.features-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.features-list__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 120px;
  border: transparent;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.features-list__icon {
  width: 70px;
  height: 70px;
}

.features-list__header {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.features-list__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.our-works {
  display: none;
  padding-top: 0px;
  padding-bottom: 94px;
}

.works-list {
  display: flex;
  gap: 30px;
}

.works-list__item {
  position: relative;
}

.work-list__description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1%;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  padding: 60px 0px;
  background-color: #f5f4fa;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.card-description {
  padding: 30px 0px;
}

.card-description__name {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.card-description__social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-social-networks {
  display: flex;
  gap: 10px;
}

.clients {
  padding: 60px 0px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-list__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  color: #afb1b8;
  border: solid 1px #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__logo:hover, .clients-list__logo:focus {
  color: #2196f3;
  border: solid 1px #2196f3;
}

.clients-list__icon {
  content: "";
  fill: currentColor;
  width: 106px;
  height: 60px;
  background-position: center;
}

.footer {
  margin: 0px auto;
  padding: 60px 0px;
  background-color: #2f303a;
}

.footer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 232px;
  margin: 0px auto;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.footer-contacts__item {
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__address {
  display: inline-block;
  color: #f5f5f5;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__address:hover, .footer-contacts__address:focus {
  color: #2196f3;
}

.footer-contacts__e-mail,
.footer-contacts__phone-number {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__e-mail:hover, .footer-contacts__e-mail:focus,
.footer-contacts__phone-number:hover,
.footer-contacts__phone-number:focus {
  color: #2196f3;
}

.footer-social {
  margin-bottom: 60px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social__call {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.footer-social__list {
  display: flex;
  justify-content: center;
}

.footer-subscribe {
  position: relative;
  display: flex;
  flex-direction: column;
}
.footer-subscribe .footer-subscribe__slogan {
  padding-bottom: 20px;
  margin: 0px auto;
  width: 207px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-subscribe .footer-subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-subscribe .subscribe__field {
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}
.footer-subscribe .subscribe__button {
  position: relative;
  padding: 10px 62px 10px 28px;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe .subscribe__button:hover, .footer-subscribe .subscribe__button:focus {
  background-color: #188ce8;
}
.footer-subscribe .footer-subscribe-icon {
  position: absolute;
  content: "";
  fill: #ffffff;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  background-position: center;
}/*# sourceMappingURL=main.css.map */