@import './utiles/vars';

body {
    color: $primary-text-color;
    background-color: $primary-background-color;
    font-family: $primary-font;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0px 15px;
    margin: 0px auto;
}

@media screen and (min-width: 480px) {
    body{width: 480px;
    }
}

@media screen and (min-width: 768px) {
    body{width: 768px;}
}

@media screen and (min-width: 1200px) {
    body {width: 1200px;}
}
    





@import './utiles/visually-hidden';
@import './layouts/header';
@import './components/logo';
@import './layouts/menu';
@import './components/social-networks';
@import './components/section-title';
@import './layouts/header-contacts';
@import './layouts/header-nav';
@import './layouts/hero';
@import './layouts/features';

