body { 
    margin: 0px auto;
    color: $primary-text-color;
    background-color: $primary-background-color;
    font-family: $primary-font;
    font-style: normal;
}

.no-scroll{
    overflow: hidden;
}