.footer {
    margin: 0px auto;
    padding: 60px 0px;
    background-color: $hero-background-color;
}

// .footer-container {
//     display: flex;
//     align-items: baseline;
// }

.footer-main{display: flex;
    flex-direction: column;
    align-items: center;
    width: 232px;
    margin: 0px auto;
}
.footer-contacts{
    display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
}
.footer-contacts__item {
    margin-bottom: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__address {
    display: inline-block;

    color: $accent-color;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        color: $accent-background-color;
    }
}

.footer-contacts__e-mail,
.footer-contacts__phone-number {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        color: $accent-background-color;
    }
}

.footer-social {
    margin-bottom: 60px;

    font-family: $primary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-background-color;
}

.footer-social__call {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
}

.footer-social__list {
    display: flex;
    justify-content: center;
}

.footer-subscribe {
    position: relative;
    // margin-left: 93px;
    display: flex;
    flex-direction: column;

.footer-subscribe__slogan {
    padding-bottom: 20px;
    margin: 0px auto;
    width: 207px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-background-color;
}

.footer-subscribe__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe__field {
    width: 450px;
    height: 50px;
    padding: 15px 16px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $hero-background-color;
}

.subscribe__button {
    position: relative;
    padding: 10px 62px 10px 28px;
    width: 200px;
    height: 50px;
    color: $primary-background-color;
    background-color: $accent-background-color;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        background-color: #188ce8;
    }
}

.footer-subscribe-icon {
    position: absolute;
    content: "";
    fill: $primary-background-color;
    width: 24px;
    height: 24px;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    background-position: center;
}

}