.header-nav__menu{
    position: relative;
    padding: 10px 0px;

    width: 40px;
    height: 40px;
    border: transparent;
    background-color: transparent;


.header-nav__icon{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
}
}
