.menu{
    // position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: $primary-background-color;
    // opacity: 0;
    // pointer-events: none;

}
.menu .is-open{
    opacity: 1;
}
.header-nav__button{
    display: inline-flex;
    position: relative;
    margin: 0px;
    padding: 0px;

    border: none;
    background-color: transparent;
}

.header-nav__cross,.header-nav__menu{
    position: absolute;
    top: 0px;
    left: 0px;
}
// .header-nav__menu{

// }
.header-nav__cross{
    display: none;
}

.header-nav__button.is-open {
    &.header-nav__cross{display: block;}
    &.header-nav__menu {display: none;}
}
@media screen and (max-width: 767px) {
    .menu {display: none;}
    
}