.hero {
    // geometry
    display: block;
    justify-content: center;
    text-align: center;
    margin: 0 auto 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 480px;
    max-height: 400px;

    // decor
    background-color: $hero-background-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero_mob_480x400_1x.jpg);
    // retina-till-480
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero_mob_960x800_2x.jpg);
    }
    // breakpoint(481px)
    @media screen and (min-width: 481px) {
            // geometry
            max-width: 768px;
            // decor
            background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero_tab_768x400_1x.jpg);
        // retina-till-768
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/hero/hero_tab_1536x800_2x.jpg);
            }
        }
        // breakpoint(769px)
    @media screen and (min-width: 769px) {
            // geometry
            max-width: 1199px;
            
            // decor
            background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero_desk_1600x600_1x.jpg);
            // retina-till-1200
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/hero/hero_desk_3200x1200_2x.jpg);
            }
        @media screen and (min-width: 1200px){
            // geometry
            padding-top: 200px;
            padding-bottom: 200px;
            max-height: 600px;
            max-width: 1600px;
            }
        }
}

.hero__header {
    margin-bottom: 30px;

    color: $primary-background-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    }
}

.hero__button {
    display: inline-block;
    min-width: 200px;
    height: 50px;

    color: $primary-background-color;
    background-color: $accent-background-color;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        background-color: #188ce8;
    }
}