.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    max-width: 450px;
    // max-height: 609px;
    width: 100%;
    background-color: $primary-background-color;
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
        max-width: 528px;
    }
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 31px;
    height: 31px;
    padding: 0px;
    background-color: $primary-background-color;
    border-radius: 50%;
    border: solid 1px rgba(0, 0, 0, 0.1);
    color: $logo-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        cursor: pointer;
        fill: $accent-background-color;
    }
}

.icon-close {
    display: block;
    width: 18px;
    height: 18px;
}

.request {
    width: 100%;
    height: 100%;
    padding: 40px;
    margin: 0px;
}

.request__call {
    display: block;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $logo-color;
}

.request__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.request-field__name {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $primary-text-color;
}

.input-window {
    position: relative;
}

.input-window__field {
    width: 100%;
    height: 40px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        cursor: pointer;
        border-color: $accent-background-color;
    }
}

.input-window__field{
    margin: 0;
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-window__field:active {
    border: 1px solid $accent-background-color;
}

.textarea{
    resize: none;
    height: 120px;
    padding: 12px 16px;
    &::placeholder {
            color: rgba(117, 117, 117, 0.5);
            letter-spacing: 0.01em;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.01em;
        }

}

.request-field__name {
    &:hover, &:focus {
        cursor: pointer;
        transform: fill 250ms;
        background-origin: border-box;
        border-color: $accent-background-color;
    }
}

.input-window__icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .input-window:hover &,
    .input-window:focus-within & {
        fill: $accent-background-color;
    }
}

.check .request-field__name {
    display: inline-block;
    padding-left: 25px;
    font-weight: 400;
    font-size: 12px;
    // костиль, мало бути line-height: 1.71;
    line-height: 1.79;
    letter-spacing: 0.03em;
}

.check {
    position: relative;
    flex-direction: row;
    margin-left: 12px;
    margin-top: 20px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.terms {
    text-decoration-line: underline;
    color: $accent-background-color;
}

// .icon-check {
//     margin-right: 8px;
//     width: 16px;
//     height: 15px;
//     background-image: url(../images/Vector.svg);
//     border: 1px solid tomato;
// }

.checkbox:checked+.icon-check {
    background-image: url(../images/icon-check.svg);
    color: $primary-background-color;
    background-color: $accent-background-color;
    background-size: contain;
    background-origin: border-box;
    border-color: $accent-background-color;
    border-radius: 2px;
}

.icon-check {
    position: absolute;
    top: 3px;
    left: 0px;
    width: 16px;
    height: 15px;

    background-image: url(../images/Vector.svg);
}

.send {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    width: 200px;
    height: 50px;

    color: $primary-background-color;
    background-color: $accent-background-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}